<h1 id="data_acquisition">Coleta de dados.</h1>
<p>
Base com dados sobre carros do ano de 1985.
<ul>
    <li>Fonte: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data" target="_blank">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a></li>
    <li>Tipo: csv</li>
</ul>
</p>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Prévia análise mostra que dataset vem seu cabeçalho
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(url, header=None)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [3]:
df.tail(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [4]:
# adicionando identificadores
cabecalhos = ["classificacao", "perdas-normalizadas", "fabricante", "tipo-de-combustivel", "aspiracao", "numero-de-portas", "estilo-do-carro",
              "tipo-de-tracao", "localizacao-do-motor", "base-das-rodas", "comprimento", "largura", "altura", "peso", "tipo-de-motor",
              "numero-de-cilindros", "tamanho-do-motor", "sistema-de-combustivel", "diametro-do-cilindro", "curso-do-pistao",
              "taxa-de-compressao", "potencia", "rpm-maximo", "mpg-na-cidade", "mpg-na-estrada", "preco"]
df.columns = cabecalhos
df.head(5)

,classificacao,perdas-normalizadas,fabricante,tipo-de-combustivel,aspiracao,numero-de-portas,estilo-do-carro,tipo-de-tracao,localizacao-do-motor,base-das-rodas,...,tamanho-do-motor,sistema-de-combustivel,diametro-do-cilindro,curso-do-pistao,taxa-de-compressao,potencia,rpm-maximo,mpg-na-cidade,mpg-na-estrada,preco
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<p>
Precisaremos subistituir '?' por NaN e dropna() para valores faltantes.
</p>

In [5]:
df1=df.replace('?',np.NaN)
df=df1.dropna(subset=["preco"], axis=0)
df.head(10)

,classificacao,perdas-normalizadas,fabricante,tipo-de-combustivel,aspiracao,numero-de-portas,estilo-do-carro,tipo-de-tracao,localizacao-do-motor,base-das-rodas,...,tamanho-do-motor,sistema-de-combustivel,diametro-do-cilindro,curso-do-pistao,taxa-de-compressao,potencia,rpm-maximo,mpg-na-cidade,mpg-na-estrada,preco
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   classificacao           201 non-null    int64
 1   perdas-normalizadas     164 non-null    object
 2   fabricante              201 non-null    object
 3   tipo-de-combustivel     201 non-null    object
 4   aspiracao               201 non-null    object
 5   numero-de-portas        199 non-null    object
 6   estilo-do-carro         201 non-null    object
 7   tipo-de-tracao          201 non-null    object
 8   localizacao-do-motor    201 non-null    object
 9   base-das-rodas          201 non-null    float64
 10  comprimento             201 non-null    float64
 11  largura                 201 non-null    float64
 12  altura                  201 non-null    float64
 13  peso                    201 non-null    int64
 14  tipo-de-motor           201 non-null    object
 15  numero-de-cilindros     201 non-null    object
 16  tamanho-do-motor        201 non-null    int64
 17  sistema-de-combustivel  201 non-null    object
 18  diametro-do-cilindro    197 non-null    object
 19  curso-do-pistao         197 non-null    object
 20  taxa-de-compressao      201 non-null    float64
 21  potencia                199 non-null    object
 22  rpm-maximo              199 non-null    object
 23  mpg-na-cidade           201 non-null    int64
 24  mpg-na-estrada          201 non-null    int64
 25  preco                   201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 42.4+ KB

In [7]:
df.describe()

,classificacao,base-das-rodas,comprimento,largura,altura,peso,tamanho-do-motor,taxa-de-compressao,mpg-na-cidade,mpg-na-estrada
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,0.840796,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,10.164279,25.179104,30.686567
std,1.254802,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,4.004965,6.423220,6.815150
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

<h3>Transformações</h3>
Nota-se que o consumo está em milhas, ajustes para kilometros.

In [8]:
df['mpg-na-cidade'] = 235/df['mpg-na-cidade']
df['mpg-na-estrada'] = 235/df['mpg-na-estrada']
df.rename(columns={'mpg-na-cidade': 'consumo-cidade'}, inplace=True)
df.rename(columns={'mpg-na-estrada': 'consumo-estrada'}, inplace=True)
df.head()

/tmp/ipykernel_66053/999018432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mpg-na-cidade'] = 235/df['mpg-na-cidade']
/tmp/ipykernel_66053/999018432.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mpg-na-estrada'] = 235/df['mpg-na-estrada']
/home/leonardo/anaconda3/lib/python3.10/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,classificacao,perdas-normalizadas,fabricante,tipo-de-combustivel,aspiracao,numero-de-portas,estilo-do-carro,tipo-de-tracao,localizacao-do-motor,base-das-rodas,...,tamanho-do-motor,sistema-de-combustivel,diametro-do-cilindro,curso-do-pistao,taxa-de-compressao,potencia,rpm-maximo,consumo-cidade,consumo-estrada,preco
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,8.703704,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,8.703704,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,12.368421,9.038462,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,9.791667,7.833333,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,13.055556,10.681818,17450

<p>O valor do preço esta como tipo objeto.</p>

In [9]:
df['preco'] = df['preco'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   classificacao           201 non-null    int64
 1   perdas-normalizadas     164 non-null    object
 2   fabricante              201 non-null    object
 3   tipo-de-combustivel     201 non-null    object
 4   aspiracao               201 non-null    object
 5   numero-de-portas        199 non-null    object
 6   estilo-do-carro         201 non-null    object
 7   tipo-de-tracao          201 non-null    object
 8   localizacao-do-motor    201 non-null    object
 9   base-das-rodas          201 non-null    float64
 10  comprimento             201 non-null    float64
 11  largura                 201 non-null    float64
 12  altura                  201 non-null    float64
 13  peso                    201 non-null    int64
 14  tipo-de-motor           201 non-null    object
 15  numero-de-cilindros     201 non-null    object
 16  tamanho-do-motor        201 non-null    int64
 17  sistema-de-combustivel  201 non-null    object
 18  diametro-do-cilindro    197 non-null    object
 19  curso-do-pistao         197 non-null    object
 20  taxa-de-compressao      201 non-null    float64
 21  potencia                199 non-null    object
 22  rpm-maximo              199 non-null    object
 23  consumo-cidade          201 non-null    float64
 24  consumo-estrada         201 non-null    float64
 25  preco                   201 non-null    float64
dtypes: float64(8), int64(3), object(15)
memory usage: 42.4+ KB

/tmp/ipykernel_66053/607281322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['preco'] = df['preco'].astype('float')