<h1 id="data_acquisition">Coleta de dados.</h1>
<p>
Base com dados sobre carros do ano de 1985.
<ul>
    <li>Fonte: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data" target="_blank">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a></li>
    <li>Tipo: csv</li>
</ul>
</p>

In [13]:
import pandas as pd
import numpy as np

In [8]:
# Prévia análise mostra que dataset vem seu cabeçalho
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(url, header=None)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [9]:
df.tail(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [12]:
# adicionando identificadores
cabecalhos = ["classificacao", "perdas-normalizadas", "fabricante", "tipo-de-combustivel", "aspiracao", "numero-de-portas", "estilo-do-carro",
              "tipo-de-tracao", "localizacao-do-motor", "base-das-rodas", "comprimento", "largura", "altura", "peso", "tipo-de-motor",
              "numero-de-cilindros", "tamanho-do-motor", "sistema-de-combustivel", "diametro-do-cilindro", "curso-do-pistao",
              "taxa-de-compressao", "potencia", "rpm-maximo", "mpg-na-cidade", "mpg-na-estrada", "preco"]
df.columns = cabecalhos
df.head(5)

,classificacao,perdas-normalizadas,fabricante,tipo-de-combustivel,aspiracao,numero-de-portas,estilo-do-carro,tipo-de-tracao,localizacao-do-motor,base-das-rodas,...,tamanho-do-motor,sistema-de-combustivel,diametro-do-cilindro,curso-do-pistao,taxa-de-compressao,potencia,rpm-maximo,mpg-na-cidade,mpg-na-estrada,preco
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<p>
Precisaremos subistituir '?' por NaN e dropna() para valores faltantes.
</p>

In [17]:
df1=df.replace('?',np.NaN)
df=df1.dropna(subset=["preco"], axis=0)
df.head(10)

,classificacao,perdas-normalizadas,fabricante,tipo-de-combustivel,aspiracao,numero-de-portas,estilo-do-carro,tipo-de-tracao,localizacao-do-motor,base-das-rodas,...,tamanho-do-motor,sistema-de-combustivel,diametro-do-cilindro,curso-do-pistao,taxa-de-compressao,potencia,rpm-maximo,mpg-na-cidade,mpg-na-estrada,preco
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [18]:
df.dtypes

classificacao               int64
perdas-normalizadas        object
fabricante                 object
tipo-de-combustivel        object
aspiracao                  object
numero-de-portas           object
estilo-do-carro            object
tipo-de-tracao             object
localizacao-do-motor       object
base-das-rodas            float64
comprimento               float64
largura                   float64
altura                    float64
peso                        int64
tipo-de-motor              object
numero-de-cilindros        object
tamanho-do-motor            int64
sistema-de-combustivel     object
diametro-do-cilindro       object
curso-do-pistao            object
taxa-de-compressao        float64
potencia                   object
rpm-maximo                 object
mpg-na-cidade               int64
mpg-na-estrada              int64
preco                      object
dtype: object

In [19]:
df.describe()

,classificacao,base-das-rodas,comprimento,largura,altura,peso,tamanho-do-motor,taxa-de-compressao,mpg-na-cidade,mpg-na-estrada
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,0.840796,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,10.164279,25.179104,30.686567
std,1.254802,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,4.004965,6.423220,6.815150
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000